/*CSS Centaurion v2 by Banatawa*/
/*Copyright 2023 - ruinformatique.ch*/
/*Document*/  



/** content **/
/* tablet */
@media only screen and (max-width: 1400px) {
    .icon{
        height: 1.5em;
    }

    #header{
        background-color: rgb(25, 40, 51);
        right:0;
        left:0;
        top:0;
        border-radius: 0;
    }

    section{
        padding-right: 2em;
        padding-left: 9em;
        padding-bottom: 7em;
    }

    nav{
        top:7em;
        width: fit-content;
        margin:0;
        padding:0;
    }

    nav ul li a{
        padding: 1em;
    }

    nav ul li p{
        display: none;
    }

    nav ul li:first-child{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    nav ul li:last-child{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

}

/* phone */
@media only screen and (orientation: portrait) {
    body{
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
    
    html{
        height: -webkit-fill-available;
    }

    .icon{
        height: 1.5em;
    }

    h1{
        font-size: 1.2em;
    }

    p, h2{
        font-size: 1em;
    }

    #header{
        background-color: rgb(25, 40, 51);
        right:0;
        left:0;
        top:0;
        border-radius: 0;
        height: 1em;
    }

    section{
        padding-top:6em;
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom: 7em;
    }

    section div{
        overflow: auto;
        max-height: 90%;
    }

    nav.ui{
        top:auto;
        bottom:0;
        left:0;
        right:0;
        width: 100%;
        margin:0;
        padding:0;
        border-radius: 0;
    }

    nav ul{
        display: flex;
        justify-content: space-around;
    }

    nav ul li{
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    nav ul li p{
        display: none;
    }

    nav ul li a{
        margin: 0 auto;
        height: 0.5em;
    }

    nav ul li a *{
        margin: 0 auto;
    }

    nav ul li a img.icon{
        width: 1em;
        height: auto;
    }

}