html, body {
	width: 100%;
}

.landscape {
  position: fixed;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/ui/bottom-city.png");
  background-size: 1000px 250px;
  background-repeat: repeat-x;
  background-position: center bottom;
}

/* custom fixes */

#background{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
	background: black;
	background: linear-gradient(to bottom, #000000 0%, #5788fe 100%);
}

#stars-interactive{
    position: fixed;
    top: 0;
    left:0;
    image-rendering: pixelated;
}